body{
    margin: 0;
    height: 100vh;
}

.gridContainer {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.leftSide{
    display:flex; /*To align image credit at bottom*/
    justify-content: center;
    background-image: url('sea-tree.jpg');
    background-size: cover; 
}



 #rightSide{

}

#imgCredit{
    align-self: flex-end;
    color:black;
    font-size: 1.5em;
}

#imgCredit a{
    color: black;
}