body{
    margin: 0;
    height: 100vh;
}

.gridContainer {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.leftSide{
    display:flex; /*To align image credit at bottom*/
    justify-content: center;
    background-image: url('sea-tree.jpg');
    background-size: cover; 
}

/*#logoBG{
    width: 100%;
    height: 10%;
    background-color: black;
    opacity: 0.5;
    align-self: center;
}*/

 #rightSide{
     display: grid;

}

#formContainer{
  display: grid;
}

form{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
}

#imgCredit{
    align-self: flex-end;
    color:black;
    font-size: 1.5em;
}

#imgCredit a{
    color: black;
}